@import url('./reset.css');
@import url('./fonts.css');
@import url('./layout.css');

body {
  font-family: 'Montserrat';
  background-color: hsl(200 50% 5%);
  color: hsl(0 0% 95%);
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
}

th, td {
  padding: 0.5rem;
  text-wrap: nowrap;
  text-align: left;
}

.head-cell {
  position: sticky;
  top: 0;
  background-color: hsl(0 0% 3%);
}
.head-cell.name {
  left: 0;
  z-index: 2;
}

.cell.name {
  position: sticky;
  left: 0;
}

tbody tr:nth-child(odd) .cell {
  background-color: hsl(0 0% 10%);
}
tbody tr:nth-child(even) .cell {
  background-color: hsl(0 0% 13%);
}

tbody tr:hover .cell {
  background-color: hsl(0 0% 20%);
}


.container {
  width: 100%;
  height: 90svh;
  overflow: auto;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: hsl(0 0% 0% / 0.1);
}

::-webkit-scrollbar-thumb {
  background: hsl(200 50% 50% / 0.5);
  /* -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75); */
}

::-webkit-scrollbar-corner {
  background: hsl(0 0% 0% / 0.02);
}








/* DIALOG */
.more-info-dialog {
  display: none;
  margin: auto;
  max-width: 60ch;
  border: 0;
  outline: none;
  padding: 0;
  opacity: 0;
  translate: 0 -100lvh;
  box-shadow: 0 0 0 100vmax hsla(0, 0%, 0%, 0.5), 0 0 10px hsl(0 0% 0% / 0.5);
  border-radius: 0.5rem;
  transition-property: display opacity translate overlay;
  transition-duration: 500ms;
  transition-behavior: allow-discrete;

  
  &[open] {
    display: block;
    opacity: 1;
    translate: 0;
    
    @starting-style {
      opacity: 0;
      translate: 0 -100lvh;
    }
  }
}

.more-info-dialog .content {
  background-color: hsl(200 50% 8%);
  color: hsl(0 0% 90%);
  border-radius: inherit;
  padding: 1rem;
  position: relative;

  .close-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    font-family: "Source Code", sans-serif;
    font-weight: 700;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 150ms;

    &:hover, &:focus-visible {
      color: red;
    }
  }

  p {
    margin-bottom: 0.5rem;
  }
}